## 1. Data Wrangling with Python: Activity11, page 320

#### Step 1: Connect to the supplied petsDB database:

In [18]:
import sqlite3

In [19]:
conn=sqlite3.connect('petsdb')

In [20]:
# a tiny function to make sure the connection is successful

def is_opened(conn):
    try:
        conn.execute('SELECT * FROM persons LIMIT 1')
        return True
    except:
        print('Connection closed')
        return False

print(is_opened(conn))

True

In [21]:
conn.close()

In [22]:
print(is_opened(conn))

Connection closed
False

#### Step 2: Find the different age groups in the persons database.

In [23]:
conn = sqlite3.connect('petsdb')

c = conn.cursor()

In [24]:
for ppl, age in c.execute('SELECT count(*), age FROM persons GROUP BY age'):
    print('We have {} people aged {}'.format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

#### Step 3: Find the age group that has the maximum number of people.

In [27]:
for ppl, age in c.execute('SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC'):
    print('Highest number of people is {} and came from {} age group'.format(ppl, age))
    break

Highest number of people is 5 and came from 73 age group

#### Step 4: Find the people who do not have a last name.

In [28]:
res = c.execute('SELECT count(*) FROM persons WHERE last_name IS null')
for row in res:
    print(row)

(60,)

#### Step 5: Find out how many people have more than one pet.

In [29]:
res = c.execute('SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)')
for row in res:
    print('{} People has more than one pets'.format(row[0]))

43 People has more than one pets

#### Step 6: Find out how many pets have received treatment.

In [30]:
res = c.execute('SELECT count(*) FROM pets WHERE treatment_done=1')
for row in res:
    print(row)

(36,)

#### Step 7: Find out how many pets have received treatment and the type of pet is known.

In [31]:
res = c.execute('SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null')
for row in res:
    print(row)

(16,)

#### Step 8: Find out how many pets are from the city called east port.

In [35]:
res = c.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city="east port"')
for row in res:
    print(row)

(49,)

#### Step 9: Find out how many pets are from the city called east port and who received a treatment.

In [38]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)