In [3]:
#importing libraries
import numpy as np
import pandas as pd

In [4]:
#reading csv
df=pd.read_csv('NIFTY IT.csv')

In [5]:
df.head()

,Date,Open,High,Low,Close,Volume,Turnover,P/E,P/B,Div Yield
0,2000-01-03,0.0,0.0,0.0,45015.92,3777566.0,5.584100e+09,196.98,52.27,0.06
1,2000-01-04,0.0,0.0,0.0,48221.50,12128996.0,1.818670e+10,211.00,55.99,0.06
2,2000-01-05,0.0,0.0,0.0,46430.77,23400610.0,3.136010e+10,203.17,53.91,0.06
3,2000-01-06,0.0,0.0,0.0,44433.55,18408571.0,2.370960e+10,194.43,51.59,0.06
4,2000-01-07,0.0,0.0,0.0,41106.21,2762086.0,2.938500e+09,179.87,47.73,0.07

### 1. Replacing Headers

In [6]:
column_list=['Date','Open_value','High_value','Low_value','Close_value','Volume','Turnover','P/E Ratio','P/B Ratio','Dividend Yield']

In [7]:
# replacing the column names
df.columns=column_list
df.head()

,Date,Open_value,High_value,Low_value,Close_value,Volume,Turnover,P/E Ratio,P/B Ratio,Dividend Yield
0,2000-01-03,0.0,0.0,0.0,45015.92,3777566.0,5.584100e+09,196.98,52.27,0.06
1,2000-01-04,0.0,0.0,0.0,48221.50,12128996.0,1.818670e+10,211.00,55.99,0.06
2,2000-01-05,0.0,0.0,0.0,46430.77,23400610.0,3.136010e+10,203.17,53.91,0.06
3,2000-01-06,0.0,0.0,0.0,44433.55,18408571.0,2.370960e+10,194.43,51.59,0.06
4,2000-01-07,0.0,0.0,0.0,41106.21,2762086.0,2.938500e+09,179.87,47.73,0.07

### 2. Finding duplicates in Date

In [10]:
# Number of duplicates in date
df['Date'].duplicated().sum()

1

In [19]:
#removing duplicates
df.drop_duplicates(subset='Date',keep=False,inplace=True)

In [20]:
df['Date'].duplicated().sum()

0

### 3.Missing Values

In [22]:
df.isnull().sum()

Date               0
Open_value         0
High_value         0
Low_value          0
Close_value        0
Volume            10
Turnover          10
P/E Ratio          9
P/B Ratio          9
Dividend Yield     9
dtype: int64

In [23]:
df=df.dropna()

In [24]:
df.isnull().sum()

Date              0
Open_value        0
High_value        0
Low_value         0
Close_value       0
Volume            0
Turnover          0
P/E Ratio         0
P/B Ratio         0
Dividend Yield    0
dtype: int64

### 4. Fix casing or inconsistent values

In this dataset we dont have any casing issue but there are some inconisistent values as follows

In [35]:
print(len(df[df['Open_value']==0]))
print(len(df[df['High_value']==0]))
print(len(df[df['Low_value']==0]))

911
911
911

In [38]:
df.drop(df[df['Open_value']==0].index,inplace=True)
df.drop(df[df['High_value']==0].index,inplace=True)
df.drop(df[df['Low_value']==0].index,inplace=True)

C:\Users\vasan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\vasan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\vasan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [39]:
print(len(df[df['Open_value']==0]))
print(len(df[df['High_value']==0]))
print(len(df[df['Low_value']==0]))

0
0
0

### 5.Format data into a more readable format

Converting the turnover into Billions

In [41]:
df['Turnover']=df['Turnover'].map(lambda x: x/1000000000)

<ipython-input-41-a10d3e1e073e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Turnover']=df['Turnover'].map(lambda x: x/1000000000)

In [43]:
df.head()

,Date,Open_value,High_value,Low_value,Close_value,Volume,Turnover,P/E Ratio,P/B Ratio,Dividend Yield
911,2003-08-25,13933.45,14193.35,13142.60,13522.95,30749892.0,10.3618,19.99,4.10,0.67
912,2003-08-26,13527.65,14105.60,13527.65,13997.35,28272824.0,7.8772,20.69,4.25,0.65
913,2003-08-27,14156.95,14593.95,14156.95,14527.30,30199773.0,9.5929,21.47,4.41,0.62
914,2003-08-28,14623.90,15151.70,14623.90,15049.20,56136692.0,15.6473,22.25,4.57,0.60
915,2003-08-29,15071.20,15546.55,14932.60,15056.30,47927044.0,13.4988,22.26,4.57,0.60